.theme-red {
    --primary: oklch(0.65 0.24 25);
    --primary-foreground: oklch(1 0 0);

    --ring: oklch(0.65 0.24 25);

    --chart-1: oklch(0.65 0.24 25);
}

.theme-red.dark {
    --primary: oklch(0.7 0.2 25);
}
